# Python
__pycache__/
dist/
build/
*.log

# IDE/editor configs
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# SQLite (если не нужно сохранять БД в гите)
*.sqlite3
*.db

# Docker
*.pid
*.sock
*.tar
*.img
docker-compose.override.yml

# Virtualenv
venv/
env/
.venv/

# Logs
logs/
*.log

# PyInstaller
*.spec

# Misc
*.bak
*.old